# Clojure development
.clj-kondo/.cache/
.cpcache/
.lsp/
.calva/
.nrepl-port
.lein-*
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures

# Build artifacts
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
pom.xml
pom.xml.asc

# ClojureScript & Shadow-cljs
.shadow-cljs/
node_modules/
public/js/
public/cljs-runtime/

# IDE specific
.idea/
.vscode/
*.iml
*.swp
.DS_Store

# Logs
*.log

# Database
wine-cellar.db

untracked/
