{:builds {:app {:asset-path "/js"
                :build-hooks [(portal.shadow.remote/hook)]
                :compiler-options {:output-feature-set :es2018}
                :dev {:compiler-options
                      {:closure-defines
                       {"goog.DEBUG" true "process.env.NODE_ENV" "development"}
                       :output-feature-set :es2018}
                      :js-options {:anon-fn-naming-policy :unmapped}}
                :devtools {:preloads [portal.shadow.preload]}
                :modules {:main {:init-fn wine-cellar.core/init}}
                :output-dir "public/js"
                :target :browser}}
 :dependencies
 [[reagent "1.3.0"] [cljs-http "0.1.48"] [cider/cider-nrepl "0.55.7"]
  [refactor-nrepl/refactor-nrepl "3.11.0"] [org.clojure/core.async "1.8.741"]
  [arttuka/reagent-material-ui "5.11.12-0"] [djblue/portal "0.59.1"]
  [metosin/reitit-frontend "0.7.2"]]
 :dev-http {8080 {:push-state/index "index.html" :root "public"}}
 :nrepl {:middleware [cider.nrepl/cider-middleware
                      refactor-nrepl.middleware/wrap-refactor]}
 :source-paths ["src/cljc" "src/cljs"]}
;; npm install
;; npx shadow-cljs watch app
