[{:country "France",
  :region "Bordeaux",
  :appellation "Médoc",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :classification "Premier Cru Classé",
  :appellation "Pauillac",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :classification "Premier Cru Classé",
  :appellation "Margaux",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :classification "Grand Cru Classé",
  :appellation "Saint-Julien",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :classification "Grand Cru Classé",
  :appellation "Saint-Estèphe",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :classification "Grand Cru Classé",
  :appellation "Pessac-Léognan",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Graves",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :classification "Premier Cru Supérieur",
  :appellation "Sauternes",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :classification "Grand Cru Classé",
  :appellation "Saint-Émilion",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Pomerol",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Fronsac",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Entre-Deux-Mers",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :classification "Premier Cru Classé",
  :appellation "Barsac",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Blaye",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Bourg",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Cadillac",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Canon-Fronsac",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Côtes de Bordeaux",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Côtes de Blaye",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Côtes de Bourg",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Francs Côtes de Bordeaux",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Graves Supérieures",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Haut-Médoc",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Lalande-de-Pomerol",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Listrac-Médoc",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Loupiac",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Lussac-Saint-Émilion",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Montagne-Saint-Émilion",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Moulis",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Premières Côtes de Bordeaux",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Puisseguin-Saint-Émilion",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Sainte-Croix-du-Mont",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Bordeaux",
  :appellation "Saint-Georges-Saint-Émilion",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :classification "Grand Cru",
  :appellation "Chablis",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :classification "Premier Cru",
  :appellation "Chablis",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Chablis",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Petit Chablis",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :classification "Grand Cru",
  :appellation "Côte de Beaune",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :classification "Premier Cru",
  :appellation "Côte de Beaune",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Côte de Beaune",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :classification "Grand Cru",
  :appellation "Côte de Nuits",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :classification "Premier Cru",
  :appellation "Côte de Nuits",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Côte de Nuits",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Aloxe-Corton",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Auxey-Duresses",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Bouzeron",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Chassagne-Montrachet",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Chorey-lès-Beaune",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Gevrey-Chambertin",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Ladoix",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Mâcon",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Meursault",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Monthélie",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Nuits-Saint-Georges",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Pernand-Vergelesses",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Pommard",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Pouilly-Fuissé",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Puligny-Montrachet",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Saint-Aubin",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Santenay",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Savigny-lès-Beaune",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Volnay",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Burgundy",
  :appellation "Vosne-Romanée",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Rhône",
  :appellation "Côtes du Rhône",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Rhône",
  :appellation "Côtes du Rhône Villages",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Rhône",
  :appellation "Châteauneuf-du-Pape",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Rhône",
  :appellation "Condrieu",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Rhône",
  :appellation "Cornas",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Rhône",
  :appellation "Côte-Rôtie",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Rhône",
  :appellation "Crozes-Hermitage",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Rhône",
  :appellation "Gigondas",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Rhône",
  :appellation "Hermitage",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Rhône",
  :appellation "Lirac",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Rhône",
  :appellation "Rasteau",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Rhône",
  :appellation "Saint-Joseph",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Rhône",
  :appellation "Saint-Péray",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Rhône",
  :appellation "Tavel",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Rhône",
  :appellation "Vacqueyras",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Rhône",
  :appellation "Vinsobres",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Anjou",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Anjou-Villages",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Bonnezeaux",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Bourgueil",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Chinon",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Coteaux de l'Aubance",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Coteaux du Layon",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Coteaux du Loir",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Jasnieres",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Menetou-Salon",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Montlouis-sur-Loire",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Muscadet",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Muscadet Sèvre et Maine",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Pouilly-Fumé",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Pouilly-sur-Loire",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Quarts de Chaume",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Quincy",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Sancerre",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Saumur",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Saumur-Champigny",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Savennières",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Touraine",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Loire",
  :appellation "Vouvray",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Alsace",
  :appellation "Alsace",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Alsace",
  :classification "Grand Cru",
  :appellation "Alsace Grand Cru",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Alsace",
  :appellation "Crémant d'Alsace",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Champagne",
  :appellation "Champagne",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Champagne",
  :appellation "Coteaux Champenois",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Champagne",
  :appellation "Rosé des Riceys",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Beaujolais",
  :appellation "Beaujolais",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Beaujolais",
  :appellation "Beaujolais Villages",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Beaujolais",
  :appellation "Brouilly",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Beaujolais",
  :appellation "Chénas",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Beaujolais",
  :appellation "Chiroubles",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Beaujolais",
  :appellation "Côte de Brouilly",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Beaujolais",
  :appellation "Fleurie",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Beaujolais",
  :appellation "Juliénas",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Beaujolais",
  :appellation "Morgon",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Beaujolais",
  :appellation "Moulin-à-Vent",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Beaujolais",
  :appellation "Régnié",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Beaujolais",
  :appellation "Saint-Amour",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Provence",
  :appellation "Bandol",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Provence",
  :appellation "Bellet",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Provence",
  :appellation "Cassis",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Provence",
  :appellation "Côtes de Provence",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Provence",
  :appellation "Coteaux d'Aix-en-Provence",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Provence",
  :appellation "Les Baux-de-Provence",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Provence",
  :appellation "Palette",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Languedoc-Roussillon",
  :appellation "Corbières",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Languedoc-Roussillon",
  :appellation "Côtes du Roussillon",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Languedoc-Roussillon",
  :appellation "Côtes du Roussillon Villages",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Languedoc-Roussillon",
  :appellation "Fitou",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Languedoc-Roussillon",
  :appellation "Minervois",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Languedoc-Roussillon",
  :appellation "Pic-Saint-Loup",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Corsica",
  :appellation "Ajaccio",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Corsica",
  :appellation "Corse",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Corsica",
  :appellation "Corse Calvi",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Corsica",
  :appellation "Corse Figari",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Corsica",
  :appellation "Corse Porto-Vecchio",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Corsica",
  :appellation "Corse Sartène",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Corsica",
  :appellation "Patrimonio",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Jura",
  :appellation "Arbois",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Jura",
  :appellation "Côtes du Jura",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Jura",
  :appellation "L'Étoile",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Jura",
  :appellation "Château-Chalon",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Jura",
  :appellation "Macvin du Jura",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Jura",
  :appellation "Crémant du Jura",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Savoie",
  :appellation "Vin de Savoie",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Savoie",
  :appellation "Roussette de Savoie",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Savoie",
  :appellation "Seyssel",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Savoie",
  :appellation "Crépy",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "France",
  :region "Savoie",
  :appellation "Bugey",
  :designations nil,
  :appellation_tier "AOC"}
 {:country "Italy",
  :region "Tuscany",
  :appellation "Chianti Classico",
  :designations ["Riserva" "Gran Selezione"],
  :appellation_tier "DOCG"}
 {:country "Italy",
  :region "Tuscany",
  :appellation "Brunello di Montalcino",
  :designations ["Riserva"],
  :appellation_tier "DOCG"}
 {:country "Italy",
  :region "Tuscany",
  :appellation "Vino Nobile di Montepulciano",
  :designations ["Riserva"],
  :appellation_tier "DOCG"}
 {:country "Italy",
  :region "Piedmont",
  :appellation "Barolo",
  :designations ["Riserva"],
  :appellation_tier "DOCG"}
 {:country "Italy",
  :region "Piedmont",
  :appellation "Barbaresco",
  :designations ["Riserva"],
  :appellation_tier "DOCG"}
 {:country "Italy",
  :region "Piedmont",
  :appellation "Barbera d'Alba",
  :designations ["Riserva"],
  :appellation_tier "DOC"}
 {:country "Italy",
  :region "Veneto",
  :appellation "Amarone della Valpolicella",
  :designations ["Riserva"],
  :appellation_tier "DOCG"}
 {:country "Italy",
  :region "Veneto",
  :appellation "Soave",
  :designations ["Riserva"],
  :appellation_tier "DOC"}
 {:country "Italy",
  :region "Sicily",
  :appellation "Etna",
  :designations ["Riserva"],
  :appellation_tier "DOC"}
 {:country "Spain",
  :region "Catalonia",
  :appellation "Priorat",
  :designations nil,
  :appellation_tier "DOQ"}
 {:country "Spain",
  :region "Catalonia",
  :appellation "Montsant",
  :designations nil,
  :appellation_tier "DO"}
 {:country "Spain",
  :region "Catalonia",
  :appellation "Penedès",
  :designations nil,
  :appellation_tier "DO"}
 {:country "Spain",
  :region "Rías Baixas",
  :appellation "Rías Baixas",
  :designations nil,
  :appellation_tier "DO"}
 {:country "United States",
  :region "California",
  :appellation "Napa Valley",
  :designations nil,
  :appellation_tier "AVA"}
 {:country "United States",
  :region "California",
  :appellation "Sonoma County",
  :designations nil,
  :appellation_tier "AVA"}
 {:country "United States",
  :region "California",
  :appellation "Russian River Valley",
  :designations nil,
  :appellation_tier "AVA"}
 {:country "United States",
  :region "California",
  :appellation "Knights Valley",
  :designations nil,
  :appellation_tier "AVA"}
 {:country "United States",
  :region "Oregon",
  :appellation "Willamette Valley",
  :designations nil,
  :appellation_tier "AVA"}
 {:country "United States",
  :region "Washington",
  :appellation "Columbia Valley",
  :designations nil,
  :appellation_tier "AVA"}
 {:country "Australia",
  :region "South Australia",
  :appellation "Barossa Valley",
  :designations nil,
  :appellation_tier "GI"}
 {:country "Australia",
  :region "South Australia",
  :appellation "McLaren Vale",
  :designations nil,
  :appellation_tier "GI"}
 {:country "Australia",
  :region "Western Australia",
  :appellation "Margaret River",
  :designations nil,
  :appellation_tier "GI"}
 {:country "Australia",
  :region "Victoria",
  :appellation "Yarra Valley",
  :designations nil,
  :appellation_tier "GI"}
 {:country "Portugal",
  :region "Douro",
  :appellation "Porto",
  :designations nil,
  :appellation_tier "DOC"}
 {:country "Portugal",
  :region "Douro",
  :appellation "Douro",
  :designations nil,
  :appellation_tier "DOC"}
 {:country "Portugal",
  :region "Alentejo",
  :appellation nil,
  :designations nil,
  :appellation_tier "DOC"}
 {:country "Argentina",
  :region "Mendoza",
  :appellation "Mendoza",
  :designations nil,
  :appellation_tier "DO"}
 {:country "Argentina",
  :region "Mendoza",
  :appellation "Uco Valley",
  :designations nil,
  :appellation_tier "DO"}
 {:country "Chile",
  :region "Central Valley",
  :appellation "Maipo Valley",
  :designations nil,
  :appellation_tier "DO"}
 {:country "Chile",
  :region "Central Valley",
  :appellation "Colchagua Valley",
  :designations nil,
  :appellation_tier "DO"}]
